
$primary-font-color: #575757;
$secondary-font-color: #DB8D33;
$dark-background: #414141;
$darker-background: #150300;
$highlight-color: rgb(219, 139, 9);
$nav-background: black;
$nav-link-color: rgb(92, 92, 92);
$footer-background: #222;
$hover-underline: underline;
$main-font-family: 'Arial', sans-serif;
$custom-font-family: 'Your Custom Font', sans-serif;
$highlight-font-family: 'Qwigley', cursive;
$highlight-color-hsl: hsl(33, 100%, 41%);
$custom-color: hwb(0 50% 50%);